:root{
--ivoire:#F2EEE3;
--blanc-ivoire:#F3F4EE;
--carte:#F8F6F0;
--champagne:#DEC59C;
--or:#B69248;
--or-fonce:#8F7138;
--beige:#E2D2B9;
--encre:#4A4035;
--encre-clair:#8F7B68;
--ligne:rgba(74,64,53,.14);
}